.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.1rem;
  font-family: "Ubuntu Condensed";
  font-size: 11pt;
}

td {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.note,
.sameAsStdKit {
  cursor: pointer;
  user-select: none;
}

.note:hover,
.sameAsStdKit:hover,
col:hover {
  cursor: pointer;
  box-shadow: inset 0 0 2px #000000;
}

.note:active,
.sameAsStdKit:active {
  background-color: greenyellow;
  box-shadow: inset 0 0 5px #000000;
}

.sameAsStdKit {
  background-color: lightgray;
  color: dimgray;
}

.noSound {
  background-color: dimgray;
  cursor: not-allowed;
}
